extends ../layout

block content
  h1= title

  form.col.s12#signup(method='POST' action='')
    .row
      .input-field.col.m6
        input.validate#name(type='text' placeholder='Your name', required='true' name='name', value=(undefined===user ? '' : user.name))
        label(for='name') Your Name
      .input-field.col.m6
        input.validate#email(type='email', required='true', name='email')
        label(for='email') Email
    .row
      .input-field.col.m6
        input.validate#encrypted_password(type='password', required='true',
        name='encrypted_password')
        label(for='encrypted_password') Password
      .input-field.col.m6
        input.validate#password_confirm(type='password', required='true', name='password_confirm')
        label(for='password_confirm') Confirm Password
    .row
      .input-field.col.m12
         input.validate#organization(type='text', required='true', name='organization')
         label(for='organization') Your Organization
    .row
      .input-field.col.m6
          input.validate#username(type='text', required='true' name='username')
          label(for='username') Username
      .input-field.col.m6
          input.validate#mobile(type='text', required='true' name='mobile')
          label(for='mobile') Mobile Number
    .row
      .input-field.col.m6
        select#currency(type='select' placeholder='Select currency' name='currency' required='true')
          option(value='' disabled selected) Choose your currency
          for currency in currencies
            option(value=currency._id) #{currency.name}
        label(for='currency') Currency
    .row
      .input-field.col.m6
        button.btn.waves-effect.waves-light(type='submit' name='action')
          | Submit

  if errors
    ul
      for error in errors
        li.error!= error.msg

block scripts
  script(src='/js/jquery.validate.js')
  script(src='/js/user.js')
