extends ../layout

block content
  h1= title
  
  form.col.s12#account(method='POST' action='')
    .row
      .input-field.col.m6
        input.validate#title(type='text' placeholder='account title', required='true', name='title', value=(undefined==account ? '' : account.title))
        label(for='name') Account title
    .row
      .input-field.col.m8
        select#accounttype(type='select' placeholder='Select Account Type' name='accounttype' required='true') option(value='' disabled selected) Choose account type
          for accounttype in accounttypes
            if account
              option(value=accounttype._id selected=(accounttype._id.toString()==account.accounttype_id ? 'selected': false) ) #{accounttype.name}-#{accounttype.type}
            else
              option(value=accounttype._id) #{accounttype.name}-#{accounttype.type}
    .row
      .input-field.col.m6
        button.btn.waves-effect.waves-light(type='submit' name='action') 
          | Submit

  if errors
    ul
      for error in errors
        li.error!= error.msg

block scripts
  script(src='/js/jquery.validate.js')
  script(src='/js/account.js')
